<!DOCTYPE html>
<html lang="IT">
<head>
<title>AirExpo | Chi Siamo</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/menu.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<script>
  $(document).ready(function(){
    $('header').load("navbarLoading");
  });
</script>

<header>
  <!-- navbar -->
</header>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div style="background-color: #303032; padding: 50px 0 150px;">
  <h1 style="text-align: center; font-size: 35px;">Chi siamo</h1>
  <h2 style="text-align: center; margin-left: 15%; margin-right: 15%; font-size: 25px;">Revents... una piccola realtà!</h2>
  <p style="text-align: justify; margin-left: 20%; margin-right: 20%; font-size: 17px;">Revents si tratta di un piccolo gruppo di ragazzi che si impegnano
  a trovare e raccogliere i migliori eventi che si svolgono nelle province di Lecco e Sondrio. Cerchiamo di includere tutti i tipi di party, che siano
  serate in discoteca o feste aperte al pubblico. 
  L'idea è nata dalla spesso sentita necessità di avere una panoramica generale sulle feste più vicine, è utile inoltre soprattutto per chi risiede tra 
  Lecco e Sondrio per poter visionare se effettivamente ci siano serate adatte, in quanto, solitamente, la scelta è veramente poca.
  Revents va quindi in soccorso a tutti quei ragazzi che vogliono divertirsi ma non vogliono perdere ore alla ricerca dell'ambiente adatto a loro;
  oppure a quei turisti che sono in cerca di divertimento o intrattenimento ma non sanno bene dove andare a parare.
  <br><br><br></p>
  <h2 style="text-align: center; margin-left: 15%; margin-right: 15%; font-size: 25px;">Contattaci sui social se vuoi proporre la tua festa/il tuo evento o se conosci eventi/feste che ci sono sfuggite!</h2>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<script>
  $(document).ready(function(){
    $('footer').load("footerLoading");
  });
</script>

<footer>
  <!-- footer -->
</footer>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPT -->
<script src="/scriptsLayout/jquery.min.js"></script>
<script src="/scriptsLayout/jquery.backtotop.js"></script>
<script src="/scriptsLayout/jquery.mobilemenu.js"></script>
<!-- Homepage specific -->
<script src="/scriptsLayout/jquery.easypiechart.min.js"></script>
<!-- / Homepage specific -->

</body>
</html>