<!DOCTYPE html>
<html lang="EN">
<head>
<title>Revent | Tutorial</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="./styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link href="./styles/menu.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<script>
  $(document).ready(function(){
    $('header').load("navbarLoading");
  });
</script>

<header>
  <!-- navbar -->
</header>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<section id="evento"></section>

<!-- <section id="evento">
  <div id="evento-contenuto">
    <h1 id="evento-titolo">titolo evento</h1>
    <div id="container-immagine"><img class=".center"src='../images/demo/tutorialen.jpeg'></div>
    <p id="evento-descrizione">
      <br>descrizione evento blabla siamo
    a ballare nei pressi del lago di novate bla bla con musica elettronica bla bla</p>
    <h2 id="evento-info-titolo">Informazioni</h2>
    <p id="evento-info">Location: boh<br>Eta': +18<br>Dress code: no
      <br>Orario: 11:00-5:00<br>Data: 20/08/22<br>Costo: €20</p>
  </div>
</section> -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<script>
  $(document).ready(function(){
    $('footer').load("footerLoading");
  });
</script>

<footer>
  <!-- footer -->
</footer>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- JAVASCRIPTS -->
<script src="/config/getEvent.js"></script>
<script src="/scriptsLayout/jquery.min.js"></script>
<script src="./scriptsLayout/jquery.backtotop.js"></script>
<script src="./scriptsLayout/jquery.mobilemenu.js"></script>
<!-- Homepage specific -->
<script src="./scriptsLayout/jquery.easypiechart.min.js"></script>
<!-- / Homepage specific -->

</body>
</html>
