<div class="wrapper row4">
    <footer id="footer" class="hoc clear"> 
      <div class="one_half first">
        <h1 class="logoname"><a href="/">AirExpo</a></h1>
        <p>Mettiamo in connessione</p>
        <ul class="faico clear">
          <li><a class="faicon-instagram" href="https://www.instagram.com/AirExpo/"><i class="fab fa-instagram"></i></a></li>
          <li><a class="faicon-facebook" href="https://m.facebook.com/AirExpo/"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="one_half">
        <h6 class="heading">Sezioni</h6>
        <ul class="nospace linklist">
          <li class="active"><a href="/">Homepage</a></li>
          <li class="active"><a href="/eventi">Eventi</a></li>
          <li class="active"><a href="/chiSiamo">Chi siamo</a></li>
        </ul>
      </div>
    </footer>
  </div>
  
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <p id="copyright">Copyright &copy; 2023 - All Rights Reserved - <a href="#">AirExpo.com</a></p>
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>